body {
    display: flex;
    flex-direction: column;
}
.btn-cart {
    height: 30px;
    width: 120px;
}
.products {
    display: flex;
    margin-top: 80px;
}
.product-item {
    height: 300px;
    width: 200px;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}